.category h2
{
  padding: 10px 10px 20px;
}
.category .other {
  padding-top: 0;
}
.category .other .post
{
	border-top: 2px solid #333;
	margin-bottom: 15px;
	padding: 10px;
}

.category .post h2
{
	margin-bottom: 0;
}

.category .post h3
{
	font-weight: normal;
}

.category .post p
{
	font-size: 12px;
/*  float: right;*/
	margin-top: 0;
}

.category .post p,
.category .post p a
{
	color: #999;
}